* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 360px;
}

#pokedex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem 2rem;
  justify-content: center;
}

.card {
  width: 200px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: linear-gradient(rgb(234, 234, 234), #4d4c4c);
  border: 3px solid black;
  border-radius: 5%;

}

img {
  width: 100%;

}

.fire {
  background: linear-gradient(rgb(255, 123, 0), #9a0000);
}

.water {
  background: linear-gradient(rgb(131, 232, 255), #1100c9);
}

.electric {
  background: linear-gradient(rgb(245, 255, 152), #919b00);
}

.grass {
  background: linear-gradient(rgb(154, 255, 155), #035700);
}

.card img {
  height: 60%;
  width: 60%;
}
